@import url('https://fonts.googleapis.com/css?family=Yesteryear');

body {
	width: 100vw;
	background-image: url(../img/background.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left top;
}

.color-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(33, 27, 23, 0.58);
	z-index: 1;
	height: 100%;
}

nav {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}

nav a {
	color: white;
}
.navbar-brand {
	font-weight: bold;
	text-shadow: 3px 5px 2px #474747;
	font-size: 1.8em;
	font-family: Yesteryear, cursive;
}

.container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 400px;
}

.row {
	position: absolute;
	top: 90px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.card {
	height: 600px;
	border-radius: 10;
}

.card-title {
	color: #4285f4;
	text-align: left;
}

.md-form {
	margin-top: 0 !important;
}
.btn {
	margin: 0;
}
